---
import Layout from '../layouts/Layout.astro';
import Typography from '../components/Typography.svelte';
import TextGradient from '../components/TextGradient.svelte';
import Build from '../components/Build.svelte';
import Canvas from '../components/Canvas.svelte';
---
<Layout title="I am Zuri Pabón">
	<main class="center">
    <header class="header-container">
      <Typography variant="heading" uppercase>I am <TextGradient>Zuri Pabón</TextGradient></Typography>
    </header>
    <div class="mobile">
      <Typography variant="heading" uppercase>I am</Typography>
      <Typography variant="heading" uppercase><TextGradient>Zuri Pabón</TextGradient></Typography>
    </div>
		<section class="body-container">
      <Typography variant="paragraph">Over a decade of experience in computer science. I specialize in <TextGradient strong>UI</TextGradient> and <TextGradient strong>CLI</TextGradient> engineering. My journey as engineer is fueled by creativity, problem-solving, and a relentless drive for excellence.</Typography>
    </section>
		<Build client:visible /> 
	</main>
  <Canvas client:visible/>
</Layout>

<style is:global>

  .body-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    margin-bottom: var(--spacing);
  }

  .mobile {
		font-size: 1.8rem;
	}

  .header-container {
    display: none;
  }

  .subtitle {
    text-align: end;
    margin-top: 100px;
    max-width: 875px;
  }

	.desc {
		font-size: 1.7rem;
	}

	.center {
		display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
		max-width: 1080px;
    row-gap: var(--spacing);
    overflow: clip;
    height: 100%;
    margin: 3rem auto;
	}

  @media only screen and (min-height: 560px) {
    
    .center {
      height: calc(100vh - 6rem);
      margin: 3rem auto;
	  }
  }

  @media only screen and (min-width: 650px) {
    
    .mobile {
      font-size: 2.5rem;
      display: block;
    }

    .desc {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 905px) {
    .header-container {
      display: block;
    }
    .mobile {
      display: none;
    }
  }
</style>
