---
import Layout from '../layouts/Layout.astro';
import Start from '../components/Start.astro';

let counter = 0;

// const interval = setInterval(()=>{
  
//   counter=counter+10

//   if(counter >= 100){
//     counter = 100;
//     clearInterval(interval)
//   }
  
//   }, 100)

//   let ms = 1000
//   let counter = 0
//   const incr = () => (counter += 1)
 
//   let clear
//   $: {
// 	 clearInterval(clear)
// 	 clear = setInterval(incr, ms)
//  }
 
const loadingChars = ['|','/','-', '\\', '|', '/', '-', '\\']
let loadingIndex = 0
setInterval(()=> {
  loadingIndex = (loadingIndex+1)%loadingChars.length
} , 150)
---
<Layout title="Welcome to Astro.">
	<main class="center">
		<h1 class="title uppercase">I am <span class="text-gradient">Zuri Pabón</span></h1>
		<p class="desc">
			Over a decade of experience in computer science. I specialize in <strong class="text-gradient">UI</strong> and <strong class="text-gradient">CLI</strong> engineering. My journey as engineer is fueled by creativity, problem-solving, and a relentless drive for excellence.
		</p>
		<!-- <p class="desc"> Let's build something <Start progress={100}>together</Start></p> -->
		<p class="desc"> Let's <Start progress={counter}>build</Start> something awesome together</p>
		<p class="desc-terminal">$> ./build --something-awesome --together <span class="loading-chars">{loadingChars[loadingIndex]}</span></p>
		
	</main>
</Layout>

<style>
	.uppercase {
		text-transform: uppercase;
	}

  .title {
		font-size: 5rem;
	}

	.desc {
		font-size: 1.8rem;
	}

  .desc-terminal {
    display: flex;
    justify-content: space-between;
    font-size: 2.4rem;
  }

  .loading-chars {
    
  }

	.center {
		display: flex;
    flex-direction: column;
    flex-direction: column;
    width: 75%;
		max-width: 840px;
    row-gap: 32px;
    margin: 3rem auto;
	}
	
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}

  @media only screen and (min-width: 768px) {
    .center {
      justify-content: center;
      overflow: clip;
      height: 100vh;
      margin: 0 auto;
    }

    .title {
		font-size: 6rem;
    }

    .desc {
      font-size: 2.4rem;
    }
  }
</style>
